@import 'line-awesome/dist/line-awesome/css/line-awesome.css'
@import 'bootstrap/dist/css/bootstrap.css'
@import 'nib/index.styl'

normalize-css()

a 
    color: #337ab7
    text-decoration: none


html
    height:100%

body
    height:100%
    overflow-x: hidden

#app
    height:100%

.ml-2
    margin-left: 20px

.main-head
    height: 150px
    background: #FFF
    
.login-form
        margin-top: 50%
        padding-right: 5%

.register-form
        margin-top: 25%
        padding-right: 5%

@media screen and (max-width: 450px) 
    .login-form
        margin-top: 10%
    

    .register-form
        margin-top: 10%


.login-main-img img
    width: 100%

.userActivities 
    margin-bottom: 25px


.userActivities+.showMore 
    margin: 0 0 0 70px


.userActivities .i 
    margin-top: 25px
    position: relative


.userActivities .i:first-child 
    margin-top: 0


.userActivities .i .image 
    position: absolute
    top: 20px
    left: 0


.userActivities .i .activityContent 
    margin: 0 0 0 70px
    border: 1px solid #e6e7ed
    min-height: 70px


.userActivities .i .activityContent:after,
.userActivities .i .activityContent:before 
    content: ''
    left: 48px
    top: 40px
    border: solid transparent
    height: 0
    width: 0
    position: absolute
    pointer-events: none


.userActivities .i .activityContent:after 
    border-right-color: #fff
    border-width: 12px
    margin-top: -12px


.userActivities .i .activityContent:before 
    border-right-color: #dcdcdc
    border-width: 11px
    margin-top: -11px


.userActivities ul 
    padding: 20px 25px


.userActivities ul li .title 
    font-size: 16px
    font-size: 1.6rem
    text-transform: none


.userActivities .status li 
    padding-bottom: 0


.userActivities .status li .share 
    margin: 20px 0 0 0


.userActivities .status li .share a 
    color: #fe5621
    display: inline-block
    margin: 0 0 0 20px


.userActivities .status li .share a:first-child 
    margin: 0


.userActivities .status li .share a .fa 
    color: #9da2a6
    margin: 0 3px 0 0
    -webkit-transition: color .3s ease
    -moz-transition: color .3s ease
    -ms-transition: color .3s ease
    -o-transition: color .3s ease


.userActivities .status li .share a:hover .fa 
    color: #fe5621


.userActivities .comments 
    background: #f5f6fa
    border-top: 1px solid #e6e7ed


.userActivities .comments li:last-child 
    border-bottom: 0
    padding-bottom: 0


.userActivities .comments li .image 
    position: absolute
    left: 0
    top: 0


.userActivities .comments li .image img 
    margin: 0


.userActivities .comments li .c 
    margin: 0 0 0 70px


.userActivities .comments li .c .form-control 
    border-left: 1px solid #e6e7ed
    padding: 10px 18px
    margin: 0 0 10px 0


.userActivities .comments li .c .form-control:focus 
    border-color: #e6e7ed


.userActivities .comments li.showComments 
    border-bottom: 0
    padding: 0
    margin: 0 0 15px 0


.userActivities .comments li.showComments .fa 
    color: #9da2a6
    margin: 0 3px 0 0


.userActivities .comments li.showComments a:hover 
    color: #fe5621


.simpleListings 
    padding: 0
    margin: 0


.simpleListings li 
    list-style-type: none
    padding: 0 0 20px 0
    margin: 20px 0 0 0
    border-bottom: 1px solid #e6e7ed
    position: relative


.simpleListings li:first-child 
    margin-top: 0


.simpleListings li:only-child 
    border-bottom: 0


.simpleListings li .title 
    font-size: 14px
    font-size: 1.4rem
    font-weight: 700
    text-transform: uppercase
    margin: 0 0 2px 0


.simpleListings li .title span 
    font-weight: 400
    text-transform: none


.simpleListings li .title a:hover 
    color: #fe5621


.simpleListings li .info 
    color: #919599
    font-style: italic


.simpleListings li p 
    margin: 7px 0 0 0


.simpleListings li img 
    margin: 20px 0

/* Profile */
.profile-page .profile-header 
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2)
    border: 1px solid #f2f4f9


.profile-page .profile-header .cover 
    position: relative
    border-radius: .25rem .25rem 0 0



.profile-page .profile-header .cover figure 
    margin-bottom: 0


@media (max-width: 767px) 
    .profile-page .profile-header .cover figure 
        height: 110px
        overflow: hidden
    


@media (min-width: 2400px) 
    .profile-page .profile-header .cover figure 
        height: 280px
        overflow: hidden
    


.profile-page .profile-header .cover figure img 
    border-radius: .25rem .25rem 0 0
    width: 100%


@media (max-width: 767px) 
    .profile-page .profile-header .cover figure img 
        -webkit-transform: scale(2)
        transform: scale(2)
        margin-top: 15px
    


@media (min-width: 2400px) 
    .profile-page .profile-header .cover figure img 
        margin-top: -55px
    


.profile-page .profile-header .cover .gray-shade 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%)


.profile-page .profile-header .cover .cover-body 
    position: absolute
    bottom: -20px
    left: 0
    z-index: 2
    width: 100%
    padding: 0 20px


.profile-page .profile-header .cover .cover-body .profile-pic 
    border-radius: 50%
    width: 100px


@media (max-width: 767px) 
    .profile-page .profile-header .cover .cover-body .profile-pic 
        width: 70px
    


.profile-page .profile-header .cover .cover-body .profile-name 
    font-size: 20px
    font-weight: 600
    margin-left: 17px


.profile-page .profile-header .header-links 
    padding: 15px
    display: -webkit-flex
    display: flex
    -webkit-justify-content: center
    justify-content: center
    background: #fff
    border-radius: 0 0 .25rem .25rem


.profile-page .profile-header .header-links ul 
    list-style-type: none
    margin: 0
    padding: 0


.profile-page .profile-header .header-links ul li a 
    color: #000
    -webkit-transition: all .2s ease
    transition: all .2s ease


.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active 
    color: #727cf5


.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a 
    color: #727cf5


.profile-page .profile-body .left-wrapper .social-links a 
    width: 30px
    height: 30px


.profile-page .profile-body .right-wrapper .latest-photos > .row 
    margin-right: 0
    margin-left: 0


.profile-page .profile-body .right-wrapper .latest-photos > .row > div 
    padding-left: 3px
    padding-right: 3px


.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure 
    -webkit-transition: all .3s ease-in-out
    transition: all .3s ease-in-out
    margin-bottom: 6px


.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure:hover 
    -webkit-transform: scale(1.06)
    transform: scale(1.06)


.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure img 
    border-radius: .25rem


.rtl .profile-page .profile-header .cover .cover-body .profile-name 
    margin-left: 0
    margin-right: 17px

.img-xs 
    width: 37px
    height: 37px

.rounded-circle 
    border-radius: 50% !important

img 
    vertical-align: middle
    border-style: none


.card-header:first-child 
    border-radius: 0 0 0 0

.card-header 
    padding: 0.875rem 1.5rem
    margin-bottom: 0
    background-color: rgba(0, 0, 0, 0)
    border-bottom: 1px solid #f2f4f9


.card-footer:last-child 
    border-radius: 0 0 0 0

.card-footer 
    padding: 0.875rem 1.5rem
    background-color: rgba(0, 0, 0, 0)
    border-top: 1px solid #f2f4f9


.grid-margin 
    margin-bottom: 1rem


.card 
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2)
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2)
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2)
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2)

.rounded 
    border-radius: 0.25rem !important

.card 
    position: relative
    display: flex
    flex-direction: column
    min-width: 0
    word-wrap: break-word
    background-color: #fff
    background-clip: border-box
    border: 1px solid #f2f4f9
    border-radius: 0.25rem



