@import 'line-awesome/dist/line-awesome/css/line-awesome.css'
@import 'bootstrap/dist/css/bootstrap.css'
@import 'nib/index.styl'

normalize-css()

html
    height:100%

body
    height:100%
    overflow-x: hidden

#app
    height:100%


.main-head
    height: 150px
    background: #FFF
    
.login-form
        margin-top: 50%
        padding-right: 5%

.register-form
        margin-top: 25%
        padding-right: 5%

@media screen and (max-width: 450px) 
    .login-form
        margin-top: 10%
    

    .register-form
        margin-top: 10%


.login-main-img img
    width: 100%


